// Specific CSS for your home-page

body {
  font-family: $font-family-sans-serif;
  $font-size-base: 18px;
  line-height: 1.42857143;
  color: $advalori-medium-gray;
  background-color: #fff;
}


p {
  font-weight: 300;
}

.services {
  padding-top: 30px;

  p {
    text-align: center;
    font-weight: 100;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.b-signup, b-signup-now {
  margin-top: 20px;
  margin-bottom: 20px;
  $border-radius-large: 1px;
}

.services p {
  text-align: center;
}

.video h2 {
  margin-top: 10px;
  font-size: 60px;
  font-weight: 200;
  color: $advalori-dark-gray;
}

.video p {
  color: $advalori-dark-gray;
  font-size: 13px;
}

#process {
  height: 60vh;
}

#blue-wrapper {
  background-color: $advalori-blue;
  color: white;
  height: 20vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

span.navy {
  color: $advalori-blue;
}

.features-icon {
  color: $advalori-blue;
  font-size: 40px;
}

.bottom-icon {
  margin-top: 20px;
}

#team {
  background-color: $advalori-lighter-gray;
  margin-top: 60px;
  height: 50vh;

}

.team h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.team p {
  color: $advalori-medium-gray;
  font-size: 13px;
  margin: 0 0 10px;
}

.team-header {
  margin-bottom: 20px;
  margin-top: 30px;
}

.team-member img {
  margin: auto;
  height: 150px;
  width: auto;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img {
  vertical-align: middle;
  border: 0;
}

ul, {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.social-icon a {
  background: $advalori-blue;
  color: #fff;
  padding: 4px 6px;
  height: 30px;
  width: 30px;
  display: block;
  border-radius: 50px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

#partners {
  margin-top: 30px;
}

.partners-head {
  margin-bottom: 30px;
}

.partners-logo {
  margin-bottom: 60px;
}

#contact {
  background-color: $advalori-lighter-gray;

}

.contact-header {
  margin-top: 30px;
}

.copyrights {
  margin-top: 130px;
}

.address  {
  margin-top: 80px;
}

.bottom-footer {
  margin-top: 10px;
}

.follow-us {
  margin-top: 50px;
}

.fa-facebook {
  padding: 4px 6px;
}

