<div id="customer-wrapper" class="container">
  <div class="row text-center">
      <h5>Invoice Payers</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>CNPJ</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @invoice_payers.each do |invoice_payer| %>
          <tr class="tr-highlight-overdue">
            <td><%= invoice_payer.cnpj %></td>
            <td><%= invoice_payer.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row text-center">
        <div class="col-xs-12 col-sm-4">
          <%= link_to "New Customer", new_user_invoice_payer_path, class: "btn btn-primary btn-md pull-right" %>
        </div>
      </div>
    </div>
  </div>

