<!-- <div class="main-page"> -->

  <%= render 'shared/navbarlateral' %>

  <div class="container body-content">
    <%= render 'shared/dashnavbar' %>

    <%= render 'modal' %>
  </div>
<!-- </div> -->
