    <div class="container">
        <div class="col-lg-12">
          <h5>Open Invoices</h5>
        </div>
        <table class="table table-striped">
          <thead>
            <tr><th>Reference Number</th>
              <th>Invoice</th>
              <th>Invoice Amount</th>
              <th>Due date</th>
            </tr></thead>
          </table>
        </div>
      </div>


