.card-invoice {
  margin-top: 15px;
  height: 200px;
  color: #070707;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-category-invoice {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #259B25;
}
.card-description-invoice {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description-invoice h2 {
  font-size: 20px;

}
.card-description-invoice p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  opacity: 0.5;
}

.card-button-invoice {
  position: absolute;
  bottom: 10px;
  right: 3%;
  z-index: 2;
}
.card-button-invoice:hover {
  opacity: 0.9;
}

.btn-buy-invoice, .btn-buy-invoice:link  {
  padding: 13px 5px;
  border: 1px solid #259B25;
  color: #259B25;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #259B25;
    color: #fff;
  }
}

.card-info-invoice {
  display: flex;
  justify-content: left;
  vertical-align: center;
}

.I {
  color: #7698C2;
  opacity: 1 !important;
  font-weight: 400 !important;
}

.btn-cancel-sell, .btn-cancell-sell:link {
  padding: 5px 3px;
  border: 1px solid #9B1D20;
  color: #9B1D20;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #9B1D20;
    color: #fff;
    text-decoration: none !important;
  }
}

.btn-sell, .btn-sell:link {
  padding: 5px 3px;
  border: 1px solid #259B25;
  color: #259B25;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #259B25;
    color: #fff;
    text-decoration: none !important;
  }
}
