<div id="dashnavbar">
  <span id="greeting-dashboard">Welcome, to Advalori Dashboard <a rel="nofollow" data-method="delete" href="/users/sign_out">
                <i class=" fa fa-sign-out"></i>  Log out</span>
</a>
</div>
