<div class="footerdashboard">
  <div class="pull-right">
    <a href="#" target="_blank" >Terms &amp; Conditions</a> |
    <a href="#">Help</a> |
    <a href="#">Contact</a>
  </div>
  <div>
    <strong>Copyright</strong> Advalori &copy; 2017
  </div>
</div>
