<div class="banner"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/mbentivoglio/image/upload/v1511205301/fundo_bhwql4.png');">
  <div class="banner-content">
    <h1><strong>IMPROVE YOUR CASH BALANCE IN A SMART WAY</strong></h1>
    <p><strong>AN EASY-TO-USE PLATFORM FOR INVOICE FINANCE</strong></p>
  </div>
</div>

<div class="container services">
  <div class="cotainer-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>FLEXIBLE</h2>
        <p>Choose what invoice to sell, whenever you want to sell it, and to what price. Customize your short-term financing according to your business’s needs.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>TRANSPARENT</h2>
        <p>Let multiple investors bid for your invoices to get the best deal. Compared to traditional factoring we do not charge any hidden financial fees!</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>QUICK</h2>
        <p>Once having access to the platform, invoices are easily uploaded and funded within 48 hrs through one of our daily trade sessions.</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
      <a class="btn btn-primary btn-md b-signup">Sign Up</a>
  </div>

<divclass="container video">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div><br>
      <h2>Learn more about what solutions we are offering</h2>
      <p>See what Advalori can mean for your business.</p>
      <div class="wow zoomInDown invisible animated" style="visibility: visible; animation-name: zoomInDown;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fIhMLjQapT0?modestbranding=1&amp;;showinfo=0&amp;;autohide=1&amp;;rel=0&amp;;hd=1" frameborder="0"></iframe>      </div>
      </div>
    </div>  
  </div>
</div>
