<div class="banner"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/mbentivoglio/image/upload/v1511205301/fundo_bhwql4.png');">
  <div class="banner-content">
    <h1><strong>IMPROVE YOUR CASH BALANCE IN A SMART WAY</strong></h1>
    <p><strong>AN EASY-TO-USE PLATFORM FOR INVOICE FINANCE</strong></p>
    <a class="btn btn-primary btn-lg">Login</a>
  </div>
</div>
<div class="container services">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2>FLEXIBLE</h2>
      <p>Choose what invoice to sell, whenever you want to sell it, and to what price. Customize your short-term financing according to your business’s needs.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>TRANSPARENT</h2>
      <p>Let multiple investors bid for your invoices to get the best deal. Compared to traditional factoring we do not charge any hidden financial fees!</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>QUICK</h2>
      <p>Once having access to the platform, invoices are easily uploaded and funded within 48 hrs through one of our daily trade sessions.</p>
    </div>
  </div>
  <div class="container text-center">
      <a class="btn btn-primary btn-lg">Sign Up</a>
  </div>
</section>
