<div class="banner"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/mbentivoglio/image/upload/v1511205301/fundo_bhwql4.png');">
  <div class="banner-content">
    <h1><strong>IMPROVE YOUR CASH BALANCE IN A SMART WAY</strong></h1>
    <p><strong>AN EASY-TO-USE PLATFORM FOR INVOICE FINANCE</strong></p>

  <!-- Banner -->
  <!--div class="banner"style="background-image: linear-gradient(135deg, rgba(131,99,161, 1) 0%, rgba(116,168,195, 1) 100%), url('http://res.cloudinary.com/mbentivoglio/image/upload/v1511205301/fundo_bhwql4.png');">
    <div class="banner-content">
      <h1>IMPROVE YOUR CASH BALANCE IN A SMART WAY</h1>
      <p>AN EASY-TO-USE PLATFORM FOR INVOICE FINANCE</p>
    </div-->
  </div>
</div>

  <!-- Factoring Services -->
  <section id="factoring-wrapper" class="container services">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4">
        <h4>FLEXIBLE</h4>
        <p>Choose what invoice to sell, whenever you want to sell it, and to what price. Customize your short-term financing according to your business’s needs.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4>TRANSPARENT</h4>
        <p>Let multiple investors bid for your invoices to get the best deal. Compared to traditional factoring we do not charge any hidden financial fees!</p>
        <div class="text-center">
            <a class="btn btn-primary btn-md b-signup">Sign Up Now</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4>QUICK</h4>
        <p>Once having access to the platform, invoices are easily uploaded and funded within 48 hrs through one of our daily trade sessions.</p>
      </div>
    </div>
  </section>

  <!-- Video -->
  <section class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div><br>
          <h4>Learn more about what solutions we are offering</h4>
          <p>See what Advalori can mean for your business.</p>
        <div class="wow zoomInDown invisible animated" style="visibility: visible; animation-name: zoomInDown;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fIhMLjQapT0?modestbranding=1&amp;;showinfo=0&amp;;autohide=1&amp;;rel=0&amp;;hd=1" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Placeholder banner-->
  <section id="blue-wrapper" class="module-parallax navy-section testimonials">
    <div class="bg-parallax"></div>
    <div class="container text-center">
      <div><i class="fa fa-comment big-icon"></i><h4>A success story from Felix Leonhardt - CFO at Purefood GmbH</h4>
      </div>
      <div class="testimonials-text">
        <i>"Having cash tied up in invoices can be problematic for the financial situation of ones company. By selling our invoices through Advanon we managed to improve our liquidity instantly."</i>
      </div>
    </div>
  </section>


  <!-- 4 steps section -->
  <section id="process" class="container features">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class=""></div>
          <h3>The platform explained in  <span class="navy">4 easy steps</span> </h3>
          <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
        <div>
          <i class="fa fa-sign-in features-icon"></i>
          <h4>1. Sign up</h4>
          <p>Apply for an account at Advanon today by providing some basic information about your company.</p>
        </div>
        <div class="m-t-lg">
          <i class="fa fa-file-excel-o  features-icon"></i>
          <h4>2. Upload your invoice</h4>
          <p>Upload the invoice that you would like to get financed.</p>
        </div>
      </div>
      <div class="col-md-6 text-center  wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
        <img src="https://thesispieper.herokuapp.com/assets/perspective.png" alt="dashboard" class="img-responsive">
      </div>
        <div class="col-md-3 text-center wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
          <div>
            <i class="fa fa-check features-icon"></i>
            <h4>3. Transaction</h4>
            <p>The trade is done and cash is transferred to you within 48 hours.</p>
          </div>
          <div class="m-t-lg">
            <i class="fa fa-money features-icon"></i>
            <h4>4. Drawdown</h4>
            <p>When your customer pays, you repay the balance minus any fees.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary btn-md b-signup-now">Sign Up Now</a>
          <div class="navy-line"></div>
        </div>
      </div>
  </section>

  <!-- Team Members -->

  <section id="team" class="gray-section team">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h3>Our Team</h3>
          <p>We are a driven team that is pushing its limits to disrupt the factoring market with our passion for technology.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
          <div class="team-member">
            <img src="https://avatars0.githubusercontent.com/u/31517595?s=460&v=4" class="img-responsive img-circle" alt="">
            <h4><span class="navy">Marcelo</span> Bentivoglio</h4>
              <p>CEO - Project Management experience in consulting (TNS) and Sales (Google &amp; Multipartner S.L.)</p>
            <ul class="list-inline social-icon">
              <li><a href="mailto:philip.kornmann@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
              </li>
              <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
            <img src="https://avatars1.githubusercontent.com/u/6658153?s=460&v=4" class="img-responsive img-circle" alt="">
            <h4><span class="navy">Frederico</span> Murakawa</h4>
              <p>CTO - Sales experience (at EET Europarts and Google) &amp; starting a new branch of an international company (EET Europarts)</p>
            <ul class="list-inline social-icon">
              <li><a href="mailto:phil.lojacono@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
              </li>
              <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
          <div class="team-member">
            <img src="https://avatars3.githubusercontent.com/u/32061826?s=460&v=4" class="img-responsive img-circle" alt="">
            <h4><span class="navy">Cassiano</span> RF</h4>
              <p>Photoshop Designer - Experience in Web-Development &amp; IT Engineering (ING bank, The Dutch Central Bank, Google)</p>
            <ul class="list-inline social-icon">
              <li><a href="mailto:stijn@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
              </li>
              <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
          <div class="team-member">
            <img src="https://avatars3.githubusercontent.com/u/23193973?v=4" class="img-responsive img-circle" alt="">
            <h4><span class="navy">Pedro</span> Souza</h4>
              <p>Full Stack Developer - Ruby on Rails &amp; (Citigroup, Bank of New York, Equinix Datacenters)</p>
            <ul class="list-inline social-icon">
              <li><a href="mailto:stijn@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
              </li>
              <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Partners -->

  <section class="features" id="partners">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h3>Our Partners</h3>
        <p>Advanon recently was awarded support by Venturekick: an organization funding promising Swiss start-ups. More information on can be found by clicking on the logos below. Furthermore, we are currently in still establishing multiple collaborations. Please feel free to contact us on this matter.</p>
      </div>
    </div>
    <div class="row partners-logo">
      <div class="col-sm-4 spon4 wow fadeInLeft text-center animated" style="visibility: visible; animation-name: fadeInLeft;">
        <a href="#" target="_blank">
        <img src="http://mvpinvest.com.br/wp-content/uploads/2017/05/Logomakr_3INThZ-1.png" alt=""></a>
      </div>
      <div class="col-sm-4 spon1 wow zoomIn text-center animated" style="visibility: visible; animation-name: zoomIn;">
        <a href="#" target="_blank"><img src="http://mvpinvest.com.br/wp-content/uploads/2017/05/Logomakr_3INThZ-1.png" alt=""></a>
      </div>
      <div class="col-sm-4 spon3 wow fadeInRight text-center animated" style="visibility: visible; animation-name: fadeInRight;">
        <a href="#" target="_blank">
        <img src="http://atecorp.com.br/images/logo_escura.png" alt=""></a>
      </div>
    </div>
  </div>
</section>

  <!-- Contact -->
  <section id="contact" class="gray-section contact">
    <div class="container footer">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h3>Contact Us</h3>
            <p></p>
        </div>
      </div>
    <div class="row m-b-lg">
      <div class="col-sm-6 m-l-footer">
        <address>
          <strong><span class="navy">Advanon, GmbH</span></strong><br>
          Pflugstrasse 10<br>
          8006 Zürich<br>
          <abbr title="Phone">P:</abbr> +41 79 726 06 16
        </address>
      </div>
      <div class="col-sm-6">
        <p class="text-color">
          We are a Zürich based start-up. However we have the intention to expand internationally to Germany and Austria in a very short notice. Please contact us for any inquiry, we are happy to elaborate further. Currently, the best way to do this is to leave your contact details at the registration page and we will get back to you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:info@advanon.com" target="_blank" class="btn btn-primary btn-md b-signup"><i class="fa fa-pencil"></i> Send us mail</a>
          <p class="m-t-sm">Or follow us on social media</p>
          <ul class="list-inline social-icon">
            <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
          </ul>
      </div>
      <div class="row">
        <div class="col-lg-12 foopic1 text-center">
          <a href="https://www.positivessl.com" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="row m-t-lg">
      <div class="col-sm-7">
        <p class="copy"><strong>© 2017 Advalori. All Rights Reserved.</strong></p>
      </div>
    </div>
  </div>
</section>
