<%= render 'shared/navbar' %>
<div id="page-top" class="banner" style="background-image: linear-gradient(135deg, rgba(118,152,194, 0.2) 0%, rgba(243,251,255, 0.75) 22%), url('http://res.cloudinary.com/mbentivoglio/image/upload/v1512061914/girl-2618562_1920_ikq9kl.jpg');">
  <div class="page-title">

    <div class="row">
      <h1>IMPROVE YOUR CASH BALANCE IN A SMART WAY</h1>
      <p>
        AN EASY-TO-USE PLATFORM FOR INVOICE FINANCE

      </p>
    </div>

      <a href="http://www.advalori.com/users/sign_in" id="btn-sign-up">
      <span class="text text-center">JOIN ADVALORI NOW</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
      </a>

  </div>
</div>
<div class="land">


<div class="container text-center" id="page-desc">
  <div class="col-xs-12 col-sm-4">
    <h4>FLEXIBLE</h4>
    <p>Choose what invoice to sell, whenever you want to sell it, and to what price. Customize your short-term financing according to your business’s needs.</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>TRANSPARENT</h4>
    <p>Let multiple investors bid for your invoices to get the best deal. Compared to traditional factoring we do not charge any hidden financial fees!</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>QUICK</h4>
    <p>Once having access to the platform, invoices are easily uploaded and funded within 48 hrs through one of our daily trade sessions.<br><br></p>
  </div>
</div>

<div class="container four-steps">
<div class="col-lg-12 text-center">
  <div class=""></div>
  <h3>The platform explained in  <span class="navy">4 easy steps</span> </h3>
  <p></p>
</div>
<div class="col-md-3 text-center">
  <div>
    <i class="fa fa-sign-in features-icon"></i>
    <h4>1. Sign up</h4>
    <p>Apply for an account at Advalori today by providing some basic information about your company.</p>
  </div>
  <div class="bottom-icon">
    <i class="fa fa-file-excel-o  features-icon"></i>
    <h4>2. Upload your invoice</h4>
    <p>Upload the invoice that you would like to get financed.</p>
  </div>
</div>
<div class="col-md-6 text-center">
  <img src="http://res.cloudinary.com/mbentivoglio/image/upload/v1511533296/Advalori/perspective.png" alt="dashboard" class="img-responsive">
</div>
<div class="col-md-3 text-center">
  <div>
    <i class="fa fa-check features-icon"></i>
    <h4>3. Transaction</h4>
    <p>The trade is done and cash is transferred to you within 48 hours.</p>
  </div>
  <div class="bottom-icon">
    <i class="fa fa-money features-icon"></i>
    <h4>4. Drawdown</h4>
    <p>When your customer pays, you repay the balance minus any fees.</p>
  </div>
</div>
</div>
<div class="container">
  <div class="row team-header">
    <div class="col-lg-12 text-center">
      <h3>Our Team</h3>
      <p>We are a driven team that is pushing its limits to disrupt the factoring market with our passion for technology.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-3">
      <div class="team-member">
        <img src="http://res.cloudinary.com/mbentivoglio/image/upload/v1511533146/Advalori/marcelo-pic.jpg" class="img-responsive img-circle" alt="">
        <h4><span class="navy">Marcelo</span> Bentivoglio</h4>
        <p>CEO - Economist and Entrepreneur - Co-Founder of MVP Invest</p>
        <ul class="list-inline social-icon">
          <li><a href="mailto:philip.kornmann@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
          <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-member">
        <img src="http://res.cloudinary.com/mbentivoglio/image/upload/v1511533146/Advalori/fred-pic.jpg" class="img-responsive img-circle" alt="">
        <h4><span class="navy">Frederico</span> Murakawa</h4>
        <p>CTO - Full Stack Developer and Co-Founder of Atercorp - Used to Import.</p>
        <ul class="list-inline social-icon">
          <li><a href="mailto:phil.lojacono@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
          <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-member">
        <img src="http://res.cloudinary.com/mbentivoglio/image/upload/v1511533146/Advalori/cassiano-pic.jpg" class="img-responsive img-circle" alt="">
        <h4><span class="navy">Cassiano</span> Mangini</h4>
        <p>Full Stack Developer / Photoshop Designer - Experience in Web-Development &amp; design projects</p>
        <ul class="list-inline social-icon">
          <li><a href="mailto:stijn@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
          <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="team-member">
        <img src="http://res.cloudinary.com/mbentivoglio/image/upload/v1511533146/Advalori/pedro-pic.jpg" class="img-responsive img-circle" alt="">
        <h4><span class="navy">Pedro</span> Souza</h4>
        <p>Full Stack Developer - Ruby on Rails &amp; (Citigroup, Bank of New York, Equinix Datacenters)</p>
        <ul class="list-inline social-icon">
          <li><a href="mailto:stijn@advanon.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
          <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/advanon" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Contact -->
<div class="container footer four-steps">
  <div class="row contact-header">
    <div class="col-lg-12 text-center" id="h3-contact">
      <h3>Contact Us</h3>
    </div>
  </div>
  <div class="row text-center contact-footer">
    <p class="text-color">
      We are a Brazillian based start-up. However we have the intention to expand internationally to Europe and North America in a very short notice. Please contact us for any inquiry, we are happy to elaborate further. Currently, the best way to do this is to leave your contact details at the registration page and we will get back to you.
    </p>
    <a href="mailto:info@advalori.com" target="_blank" class="btn btn-primary btn-md"><i class="b-sendemail"></i> Send us mail</a>
    <p class="follow-us">Or follow us on social media</p>
    <ul class="list-inline social-icon">
      <li><a href="https://twitter.com/AdvanonGmbH" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</div>

</div>
