<%= render 'seller/expenses/expenses_table', expenses: @expenses %>

  <h3 class="chart-title">Daily Resume</h3>
  <div class="chart expenses-chart">
    <%= column_chart expenses_chart_path, colors: ["#7698C2"], library: {
      animation: { onProgress: "easeInBack" } } %>
  </div>


<%= render 'seller/expenses/graphy_table', expenses: @expenses %>

</div>
