<div class="container container-for-cards">
  <div class="row">


    <% @invoices.each do |invoice| %>
    <div class="col-xs-12">
      <%= render 'invoice_card', invoice: invoice %>
    </div>
    <% end %>
  </div>
</div>
