.body-content {
  position:absolute;
  height:100%;
  width: calc(100% - 200px);
  // width: 89.1%;
  // min-width: 900px;
  // max-width: 1000px;
  left: 200px;
  padding-left: 0 !important;
}

.active-body {
  left: 50px;
  width: calc(100% - 17px);
  transition: margin-left 0.5s;
}

#dashnavbar {
  position: relative;
  height:50px;
  background: #fff;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);


}
#greeting-dashboard {
  position: absolute;
  bottom: 5%;
  right: 2%;
}

.dropdown-spec {
  background-color: #484848;
}
