.fa-adjusted {
  font-size: 18px !important;
  vertical-align: baseline;
  float: right;
}

.container-navbar
{
    width:800px;
    overflow:hidden;
    // display:inline-block;
}
.side-bar
{
    background: linear-gradient(0deg, #3a4b5d 0%, rgba(118,152,194,1) 6%, rgba(58,75,93,1) 100%);
    position:fixed;
    height:100%;
    width:200px;
    color:#fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
    transition: margin-left 0.5s;
    font-weight:bold;
    z-index: 100;
}

.side-bar a {

  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
  vertical-align: middle;

}

.side-bar ul
{
    list-style:none;
    padding:0px;

}

.side-bar ul li.menu-head
{
    padding:20px;
}


.side-bar ul li.menu-head a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}


.side-bar ul .menu-head  a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a
{
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover
{
    border-left:3px solid #ECECEA;
    padding-left:17px;
}

.side-bar ul .menu li  a.active
{
    padding-left:17px;
    background:#D9853B;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

  border-left: 7px solid #D9853B;
    margin-top: -10px;
    margin-left: 180px;
}

.content
{
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.active > .side-bar
{
    margin-left:-150px;
    transition: margin-left 0.5s;
}

.active > .content
{
    padding-left:50px;
    transition: padding-left 0.5s;
}
