.table-striped {
  max-width: 900px;
}

.container-inv {
  padding: 0 30px;
}
.tr-install {

  border-bottom: 2px solid white !important;
}
.installment {
  // width: 100px;
  background-color: #F3F3F3 !important;
}

.tr-hide {
  display: none;
}

.td-invoice{
  font-size: 14px;
  text-align: left;
}
.th-invoice{
  font-size: 14px;
}
.nowrap{
  white-space: nowrap;

}