<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Expense</th>
        <th scope="col">Value</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
      <% @expense.each do |expense| %>
        <tr>
          <th scope="row"><%= expense.id %></th>
          <td><%= expense.supplier %></td>
          <td><%= expense.value %></td>
          <td><%= expense.due_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
