  <h3 class="chart-title">Incomes</h3>
  <div class="chart expenses-chart">
    <%= column_chart incomes_chart_path, colors: ["#7698C2"], library: {
      animation: { onProgress: "easeInBack" } } %>
  </div>

