<div class="nested-fields" id="install-font">
  <%= f.input :number %>
  <%= f.input :value, as: :string, input_html:{ class:"money"} %>
  <%= f.input :due_date %>
  <%= link_to_remove_association "remove installment", f %>
</div>
