<!-- <div class="container"> -->
  <%= render 'seller/invoices/invoices_table', invoices: @invoices_sold %>
  <%= render 'seller/invoices/invoices_table', invoices: @invoices_available %>
  <%= render 'seller/invoices/incomes_graph' %>
<!-- </div> -->
